{{ include('LaetificatAdminBundle:Element:menu.html.twig') }}
{% block editItem %}
    <h3>Editing page {{ pageContent["name"] }}</h3>
    Page name: <input type="text" value="{{ pageContent["name"] }}"/><br>
    Page url: <input type="text" value="{{ pageContent["slug"] }}"/><br>
    Page content: <textarea>{{ pageContent["content"] }}</textarea><br>
    Currently added to menu(s):<br>
    {% for menu in pageContent["menus"] %}
        {{ menu.name }}<br>
    {% endfor %}
    <br>
    <button>Save page</button>
{% endblock %}