{{ include('LaetificatAdminBundle:Element:menu.html.twig') }}
{% block editItem %}
    <form method="post">
        <h3>Editing page {{ pageContent["name"] }}</h3>
        Page name: <input name="page_name" type="text" value="{{ pageContent["name"] }}"/><br>
        Page url: <input name="page_url" type="text" value="{{ pageContent["slug"] }}"/><br>
        Page content: <textarea name="page_content">{{ pageContent["content"] | raw }}</textarea><br>
        Currently added to menu(s):<br>
        {% for menu in pageContent["menus"] %}
            {{ menu.name }}<br>
        {% endfor %}
        <input type="submit" value="Save page">
    </form>
{% endblock %}